.header {
   
 max-width:720px;
  margin:0 auto;

}

.logoHeader {
       margin:0 auto;
        max-width: 720px;
        display:flex;
        align-items:center;
        margin-top:2.625rem;
       
    
    

}
